.tranform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.tranform-container {
  width: 50vw;
  height: 60vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.tranform-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
  margin-top: 5px;
}

.tranform-container .body {
  flex: 60%;
  margin-top: 100px;
}

.tranform-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.tranform-container button {
  border-radius: 7px;
  width: 170px;
  height: 40px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

.tranform-container button:disabled {
  border-radius: 7px;
  width: 170px;
  height: 40px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
  opacity: 0.65;
  cursor: not-allowed;
}

/* PROGRESS BAR */
.progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(22, 219, 35);
}

.tranform input {
  border: 2px solid rgb(1, 7, 11);
  border-radius: 5px;
  
}

.tranform input:focus {
  border: 3px solid rgb(1, 7, 11);
}

.tranform select {
  border: 2px solid rgb(1, 7, 11);
  border-radius: 5px;
}

.tranform select:focus {
  border: 3px solid rgb(1, 7, 11);
}

.traninput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.traninput input {
  margin: 10px;
}

.traninput select {
  margin: 10px;
}
